<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wecat.small.mapper.HrMapper">
    <resultMap id="BaseResultMap" type="com.wecat.small.entity.Hr">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="enabled" jdbcType="BOOLEAN" property="enabled"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="userface" jdbcType="VARCHAR" property="userface"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="create_time"  property="createTime" />
    </resultMap>
    <resultMap id="lazyLoadRoles" type="com.wecat.small.entity.Hr" extends="BaseResultMap">
        <collection property="roles" ofType="com.wecat.small.entity.Role" select="com.wecat.small.mapper.HrMapper.getRolesByHrId"
                    column="id">
        </collection>
    </resultMap>
    <resultMap id="eagerLoadRoles" type="com.wecat.small.entity.Hr" extends="BaseResultMap">
        <collection property="roles" ofType="com.wecat.small.entity.Role">
            <id property="id" column="rid"/>
            <result property="name" column="rname"/>
            <result property="nameZh" column="rnameZh"/>
        </collection>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, phone, telephone, address, enabled, username, password, userface, remark, create_time
    </sql> 
    <select id="loadUserByUsername" resultMap="lazyLoadRoles" parameterType="String">
        select * from hr WHERE username=#{username};
    </select>
    <select id="getRolesByHrId" resultType="com.wecat.small.entity.Role" parameterType="Long">
        SELECT r.* FROM hr_role h,role r where h.rid=r.id AND h.hrid=#{id}
    </select>
    <insert id="insterHrReg">
        INSERT INTO hr set username=#{username},password=#{password}
    </insert>
    <select id="getHrsByKeywords" resultMap="eagerLoadRoles">
        select h.*,`r`.`id` AS `rid`,`r`.`name` AS `rname`,`r`.`nameZh` AS `rnameZh` from ((`hr` `h` left join `hr_role`
        `h_r` on ((`h`.`id` = `h_r`.`hrid`))) left join `role` `r` on ((`h_r`.`rid` = `r`.`id`))) where h.`id` not
        in(select h_r.`hrid` from hr_role h_r,role r where h_r.`rid`=r.`id` and r.`nameZh`='系统管理员')
        <if test="keywords!='all' and keywords!=''">
            and h.`name` like concat('%',#{keywords},'%')
        </if>
        order by h.`id` limit 10
    </select>
    <select id="getHrById" resultMap="eagerLoadRoles">
        select h.*,`r`.`id` AS `rid`,`r`.`name` AS `rname`,`r`.`nameZh` AS `rnameZh` from ((`hr` `h` left join `hr_role`
        `h_r` on ((`h`.`id` = `h_r`.`hrid`))) left join `role` `r` on ((`h_r`.`rid` = `r`.`id`))) where h.`id`=#{hrId}
    </select>
    <update id="updateHr" parameterType="com.wecat.small.entity.Hr">
        update hr
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=CHAR},
            </if>
            <if test="telephone != null">
                telephone = #{telephone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=BIT},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="userface != null">
                userface = #{userface,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteRoleByHrId" parameterType="Long">
        DELETE FROM hr_role where hrid=#{hrId}
    </delete>
    <insert id="addRolesForHr">
        INSERT INTO hr_role(hrid,rid) VALUES
        <foreach collection="rids" separator="," item="rid">
            (#{hrId},#{rid})
        </foreach>
    </insert>
    <delete id="deleteHr" parameterType="Long">
        DELETE FROM hr WHERE id=#{hrId}
    </delete>
    <select id="getAllHr" resultType="com.wecat.small.entity.Hr">
        select * from hr
        <if test="currentId!=null">
            WHERE id !=#{currentId}
        </if>
    </select>
    <!--创建记录 -->
	<insert id="insert" parameterType="com.wecat.small.entity.Hr" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO hr
		<trim prefix="(" suffix=")" suffixOverrides="," >
          <if test="id!=null">id,</if>
          <if test="name!=null">name,</if>
          <if test="phone!=null">phone,</if>
          <if test="telephone!=null">telephone,</if>
          <if test="address!=null">address,</if>
          <if test="enabled!=null">enabled,</if>
          <if test="username!=null">username,</if>
          <if test="password!=null">password,</if>
          <if test="userface!=null">userface,</if>
          <if test="remark!=null">remark,</if>
          <if test="createTime!=null">create_time</if>
        </trim>
	    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
          <if test="id!=null">#{id},</if>
          <if test="name!=null">#{name},</if>
          <if test="phone!=null">#{phone},</if>
          <if test="telephone!=null">#{telephone},</if>
          <if test="address!=null">#{address},</if>
          <if test="enabled!=null">#{enabled},</if>
          <if test="username!=null">#{username},</if>
          <if test="password!=null">#{password},</if>
          <if test="userface!=null">#{userface},</if>
          <if test="remark!=null">#{remark},</if>
          <if test="createTime!=null">#{createTime}</if>
	    </trim>
	</insert>    
    <!--批量创建记录 -->
	<insert id="batchSave" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id" >
		<foreach collection="list" item="item" index="index" separator=";">
			INSERT INTO hr
			<trim prefix="(" suffix=")" suffixOverrides="," >
	          <if test="item.id!=null">id,</if>
	          <if test="item.name!=null">name,</if>
	          <if test="item.phone!=null">phone,</if>
	          <if test="item.telephone!=null">telephone,</if>
	          <if test="item.address!=null">address,</if>
	          <if test="item.enabled!=null">enabled,</if>
	          <if test="item.username!=null">username,</if>
	          <if test="item.password!=null">password,</if>
	          <if test="item.userface!=null">userface,</if>
	          <if test="item.remark!=null">remark,</if>
	          <if test="item.createTime!=null">create_time</if>
	        </trim>
		    <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
	          <if test="item.id!=null">#{item.id},</if>
	          <if test="item.name!=null">#{item.name},</if>
	          <if test="item.phone!=null">#{item.phone},</if>
	          <if test="item.telephone!=null">#{item.telephone},</if>
	          <if test="item.address!=null">#{item.address},</if>
	          <if test="item.enabled!=null">#{item.enabled},</if>
	          <if test="item.username!=null">#{item.username},</if>
	          <if test="item.password!=null">#{item.password},</if>
	          <if test="item.userface!=null">#{item.userface},</if>
	          <if test="item.remark!=null">#{item.remark},</if>
	          <if test="item.createTime!=null">#{item.createTime}</if>
		    </trim>
		</foreach>
	</insert>
<!-- 更新记录 -->
	<update id="update" parameterType="com.wecat.small.entity.Hr">
		UPDATE hr
		<set>
          <if test="name!=null">name = #{name},</if>
          <if test="phone!=null">phone = #{phone},</if>
          <if test="telephone!=null">telephone = #{telephone},</if>
          <if test="address!=null">address = #{address},</if>
          <if test="enabled!=null">enabled = #{enabled},</if>
          <if test="username!=null">username = #{username},</if>
          <if test="password!=null">password = #{password},</if>
          <if test="userface!=null">userface = #{userface},</if>
          <if test="remark!=null">remark = #{remark},</if>
          <if test="createTime!=null">create_time = #{createTime}</if>
		</set>
		<where> 
        id = #{id}
		</where>				
	</update>    
    
	<!--批量更新记录 -->
	<update id="batchUpdate" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" separator=";">
			UPDATE hr
			<set>
	          <if test="item.name!=null">name = #{item.name},</if>
	          <if test="item.phone!=null">phone = #{item.phone},</if>
	          <if test="item.telephone!=null">telephone = #{item.telephone},</if>
	          <if test="item.address!=null">address = #{item.address},</if>
	          <if test="item.enabled!=null">enabled = #{item.enabled},</if>
	          <if test="item.username!=null">username = #{item.username},</if>
	          <if test="item.password!=null">password = #{item.password},</if>
	          <if test="item.userface!=null">userface = #{item.userface},</if>
	          <if test="item.remark!=null">remark = #{item.remark},</if>
	          <if test="item.createTime!=null">create_time = #{item.createTime}</if>
			</set>
			<where> 
	          id = #{item.id}
			</where>
		</foreach>
	</update>    
    <!-- 按ID查询记录 -->
	<select id="selectById" parameterType="long" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List" />
		FROM hr
		WHERE 
	      id = #{id}
	</select>
	<!-- 查询所有记录 -->
	<select id="selectList" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List" />
		FROM hr	
	</select>
	
	<!-- 按Id删除 -->
	<delete id="deleteById" parameterType="long">
		DELETE FROM hr 
		WHERE 
	      id = #{id}
	</delete>

	<!-- 按Id批量删除 -->
	<delete id="deleteBatchIds" parameterType="java.util.List">
		DELETE FROM hr WHERE 
	      id
          in (
		<foreach collection="list" item="item" index="index" separator=";">
			#{item}
		</foreach>
		)
	</delete>
    <select id="selectByPage" parameterType="com.wecat.small.common.PageInfoReqVo" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from hr
	    <where>
	       1=1
	       <if test="queryData!=null">
		       <if test="queryData.name!=null and queryData.name!='' "> and name like CONCAT('%',#{queryData.name},'%')</if> 
			       <if test="queryData.phone!=null and queryData.phone!='' "> and phone like CONCAT('%',#{queryData.phone},'%')</if> 
			       <if test="queryData.telephone!=null and queryData.telephone!='' "> and telephone like CONCAT('%',#{queryData.telephone},'%')</if> 
			       <if test="queryData.address!=null and queryData.address!='' "> and address like CONCAT('%',#{queryData.address},'%')</if> 
			       <if test="queryData.enabled!=null"> and enabled = #{queryData.enabled}</if>
			       <if test="queryData.username!=null and queryData.username!='' "> and username like CONCAT('%',#{queryData.username},'%')</if> 
			       <if test="queryData.password!=null and queryData.password!='' "> and password like CONCAT('%',#{queryData.password},'%')</if> 
			       <if test="queryData.userface!=null and queryData.userface!='' "> and userface like CONCAT('%',#{queryData.userface},'%')</if> 
			       <if test="queryData.remark!=null and queryData.remark!='' "> and remark like CONCAT('%',#{queryData.remark},'%')</if> 
			       <if test="queryData.createTime!=null"> and create_time = #{queryData.createTime}</if>
			   </if>
	    </where>
	  </select>
</mapper>